@model WebApplication2.Enclosure

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Enclosure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnclosureID" />
            <div class="form-group">
                <label asp-for="Enclosure_Description" class="control-label"></label>
                <input asp-for="Enclosure_Description" class="form-control" />
                <span asp-validation-for="Enclosure_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layout_Path" class="control-label"></label>
                <input asp-for="Layout_Path" class="form-control" />
                <span asp-validation-for="Layout_Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material_Used" class="control-label"></label>
                <input asp-for="Material_Used" class="form-control" />
                <span asp-validation-for="Material_Used" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physical_photo" class="control-label"></label>
                <input asp-for="Physical_photo" class="form-control" />
                <span asp-validation-for="Physical_photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enclosure_Status" class="control-label"></label>
                <input asp-for="Enclosure_Status" class="form-control" />
                <span asp-validation-for="Enclosure_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureTypeID" class="control-label"></label>
                <select asp-for="EnclosureTypeID" class="form-control" asp-items="ViewBag.EnclosureTypeID"></select>
                <span asp-validation-for="EnclosureTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
