@model WebApplication2.Daily_Temperature

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Daily_Temperature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Daily_TemperatureID" />
            <div class="form-group">
                <label asp-for="Reproting_Date" class="control-label"></label>
                <input asp-for="Reproting_Date" class="form-control" />
                <span asp-validation-for="Reproting_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature_TimeID" class="control-label"></label>
                <select asp-for="Temperature_TimeID" class="form-control" asp-items="ViewBag.Temperature_TimeID"></select>
                <span asp-validation-for="Temperature_TimeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
